body{
padding: 0;
margin: 0;
background:url(62369-OAHKFM-137.jpg);  
width: auto;
height:auto;
background-size:contain;
}

#centre{
width:  25%;
height: 500px;
background-color: rgba(235,164,206, 0.8);
padding: 10px;
border-radius: 10%; 
margin:auto;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin-top: 50px;
    
}

label {
width: 100px;
/*    background-color: red;*/
display: block;
float: left;
    
}


#rose{
width: 45%;
  
background-color: rgba(237,238 ,240, 0.9);
justify-content: center;
   
margin-top: 100px;
margin: auto;
padding: 10px;
border-radius: 5%; 
margin-top: 20px;
}

#titre{
width:  25%;
height: 100px;
margin: auto;
font-size: 30px;    
background-color: rgba(193,228 ,234, 0.8); 
/* margin: auto;*/

margin-top: 50px; 
text-align: center;
}

header{
width:  100%;
height: 80px;  
background-color: #4D3316;  
}

#deconnexion
{
width: 100px;  
height:50px;    
background-color: #F474A0;   
margin-top: 10px;    
    
}

#deconnexion1
{
width: 100px;  
height:50px;    
background-color: #F474A0;   
margin-top: 10px;    
    
}

.article{
border-radius: 60px;  
background-color:rgba(201, 102, 146,0.8);    
/*background-color: rgba(244, 116, 160,0.9);  */
margin-bottom: 8px; 
padding:10px;    
}

